@model IEnumerable<Customer.Models.客戶資料>
@{
    ViewBag.Title = "客戶資料";
}

<h2>客戶資料</h2>
<p>
    @using (Html.BeginForm("Index", "客戶資料", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group mb-2">
            @Html.Label("客戶名稱")
            @Html.TextBox("keyword", ViewBag.keywordVB as string, new { @class = "form-control search", placeholder = "請輸入客戶名稱" })
            <input type="submit" value="搜尋" class="btn btn-primary mb-2" />
        </div>
        <br /> <br />
        <div class="form-group mb-2">
            @Html.DropDownList("keyword2", ViewBag.客戶分類Id as SelectList, "請選擇客戶分類", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })

            <input type="button" value="Create New" onclick="location.href='@Url.Action(" Create", "客戶資料" )'" class="btn btn-danger" />
            <input type="button" value="匯出" onclick="location.href='@Url.Action("Export", "客戶資料" )'" class="btn btn-danger" />

            <br />
        </div>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.客戶分類.分類名稱).ToHtmlString(), "Index", new { sortBy = "分類名稱", currentSort = ViewBag.CurrentSort,change="1" }, htmlAttributes: new { @class = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.客戶名稱).ToHtmlString(), "Index", new { sortBy = "客戶名稱", currentSort = ViewBag.CurrentSort, change = "1" }, htmlAttributes: new { @class = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.統一編號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶分類.分類名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, keyword = ViewBag.keywordVB, keyword2 = ViewBag.keyword2VB, sortBy=ViewBag.sortBy, currentSort = ViewBag.linkSort }))

